*.py[cod]
.idea

/js-deployment-config.sh
/webapp/config.py

/venv
/tmp
/temp
/logs
/node_modules
/.npm

/package-lock.json
/static/js
/static/css
/static/files
/static/fonts
/static/webpack-assets.json

/webapp/plugins
