*.py[cod]
.idea

/js-deployment-config.sh
/config.yaml

/venv
/tmp
/temp
/logs
!/logs/.gitkeep
/export
!/export/.gitkeep
/node_modules
/.npm

/package-lock.json
/static/js
/static/css
/static/files
/static/fonts
/static/webpack-assets.json

/webapp/plugins
