gunicorn
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-Mail
Flask-WTF
Flask-Celery-Helper
Flask-Failsafe
Flask-Redis
Flask-CORS
Flask-HTTPAuth
SQLAlchemy~=1.4, <2.0
python-dotenv
python-dateutil
translitcodec
pytz
passlib
bcrypt
redis
requests
pymysql
email_validator
mercantile
lxml
pytest
click<8.0
git+https://github.com/binary-butterfly/wtfjson@0.2.3#egg=wtfjson
https://github.com/mapbox/vector-tile-base/archive/refs/heads/master.tar.gz
